/*** GLOBAL ***/

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, bold;
    text-decoration: none !important;
    box-sizing: content-box;
}

svg {
    font-size: 16px;    
    height: 3em;    
}

/*** GLOBAL ***/

#navbar-header{
    background-color: blanchedalmond;
}

.ms-1 {
    margin-left: 25px !important;
}