/*** GLOBAL ***/

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, bold;
    text-decoration: none !important;
}

svg {
    font-size: 16px;    
    height: 3em;    
}

/*** GLOBAL ***/

#hamburger-div {
    background-color: #ea1d2c;
    border-radius: 20px;
}

#shoppingcar-div {
    background-color: #b6d048;
    border-radius: 20px;
}