/*** GLOBAL ***/

body, html, main {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, bold;
    text-decoration: none !important;
    --red-default: #ea1d2c
}

svg {
    font-size: 16px;    
    height: 3em;    
}

section {
    width: 100%;
}

*::selection {
    background: var(--red-default);
    color: white;
}

::-webkit-scrollbar-track {
    background-color: #dcdcdc;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--red-default);
}

::-webkit-scrollbar-thumb{
    background-color: var(--red-default);
    border-radius: 11px;
}

/*** GLOBAL ***/

.container-topmain {
    display: flex;
    justify-content: center;
    

}

#right-menu .btn-criarconta {
    color: var(--red-default);
}

#right-menu .btn-entrar {
    background-color: var(--red-default);
    color: white;
    font-weight: 700;
}

#btn-buscar {
    border-radius: 5px;
    background-color: var(--red-default);
}

#hamburger-box {
    display: relative;
    height: 214px;
    width: 404px;
    margin: 0px 15px 0px 0px;
    background-color: var(--red-default);
    border-radius: 20px;
    transform: scale(1.00);
    transition: 0.20s all ease;
}

#shopping-box {
    flex-direction: row;
    height: 214px;
    width: 404px;
    margin: 0px 0px 0px 15px;
    background-color: #b6d048;
    border-radius: 20px;
    transform: scale(1.00);
    transition: 0.20s all ease;
}

#hamburger-box img, #shopping-box img {
    width: 225px;
    height: 169px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#hamburger-box a, #shopping-box a {
    font-family: Helvetica,Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.120);
    color: white;
    font-weight: 600;
    display: flex;
    position: absolute;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 146px;
    height: 36px;
    border-radius: 15px;
    bottom: 30px;
    left: 20px    
}

.container-topmain .title-box {
    position: relative;
    font-weight: 700;
    color: white;
    top: 40px;
    left: 20px;
    font-size: 32px;

}

#hamburger-box .fa-chevron-right, #shopping-box .fa-chevron-right {
    position: absolute;
    font-size: 12px;
    font-weight: 900;
    color: #FFFFFF;
    bottom: 41px;
    left: 140px
}

/* Hoovers Hamburger e Shopping Car */

#hamburger-box:hover {
    transform: scale(1.04);
    transition: 0.20s all ease;
}

#shopping-box:hover {
    transform: scale(1.04);
    transition: 0.20s all ease
}

#triple-box { /* Container geral */
    position: relative;
    width: 100%;
    max-width: 100%;    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}
.tree-card { /* Configuração dos cards */
    width: 188px;
    height: 160px;
    margin: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    transform: scale(1.00);
    transition: 0.20s all ease
}

.tree-card:hover { /* Configuração dos cards */
    width: 188px;
    height: 160px;
    margin: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    transform: scale(1.04);
    transition: 0.20s all ease    
}

.bg-amarelo, .bg-rosa, .bg-roxo { /* tamanho e posição do background dos cards */
    position: absolute;
    width: 188px;
    height: 44px;
    border-radius: 10px;
    bottom: 0px
}

.bg-amarelo {background-color:#f6d553} 
.bg-rosa {background-color:#f9879c} 
.bg-roxo {background-color:#8c60c5}

.tree-card img {
    align-self: center;
    position: absolute;
    padding: 0px;
    margin-right: auto;
    height: auto;
    bottom: 0px;
}

#bebidas-card img {right: 22px}
#farmacia-card img {right: 42px}
#petshop-card img {right: 21px}

#triple-box .fa-chevron-right {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    font-weight: 1000;
    color: var(--red-default);
    top: 186px;
    left: 133px
}

.tree-card span {
    position: absolute;
    top: 180px;
    text-justify: center;
    font-weight: 500;
}


.container-card {
    transform: scale(1.00);
    transition: 0.20s all ease;
}
.container-card {
    transform: scale(1.00);
    transition: 0.20s all ease;
}
.container-card:hover {
    transform: scale(1.04);
    transition: 0.20s all ease;
}

/* Carousel start at line 197 end  */

.carousel-container-flex {
    width: 95%;
    margin: 50px auto;
    min-height: auto;
}

.carousel-container-flex .card-container {
    width: 224px;
    height: 132px;
    margin: auto;
    border: 1px solid #dcdcdc;
    border-radius: 11px;
}

.card-container-text1 {
    font-size: 14px;
    padding-left: 13px;
}

.card-container-text2 {
    font-size: 12px;
    color: #717171;
    padding-left: 13px;
}

.carousel-img {
    min-width: 56px;
    max-width: 56px;  
    border-radius: 50px;
}

.svg-container-icon {
    width: 13px;
    height: 13px;
}

/* .btn-carousel {
    width: 33px;
    height: 33px;
    border: 1px #717171 solid;
    border-radius: 50px;
    position: sticky;
    transform: translateY(-50%);

} */

.container {
    width: 224 px;
    border-radius: 50%;
}

.owl-figure img {
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
}

.double-cards-delivery {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* Background image  */

#entregadores, #estabelecimentos {
    width: 45%;
    height: 500px;
    padding-top: 70px;
    background-image: url('https://www.ifood.com.br/static/images/landing-v2/link-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

#entregadores img, #estabelecimentos img {
    padding-top: 135px;
    width: 75%;
    
}

#entregadores p, #estabelecimentos p {
    color: #717171;
}

.double-cards-delivery a {
    background-color: var(--red-default);
    border: var(--red-default);
    margin-top: 20px;
}

.double-cards-delivery a:hover {
    background-color: var(--red-default);
    margin-top: 20px;
}

.bottom-main {
    width: 100%;
    position: relative;
    height: 400px;
    left: 50px;
    flex-direction: row;
}

.title-bottom-main {
    position: absolute;
    font-family: Helvetica, sans-serif, Helvetica;
    font-size: 32px;
    left: 100px;
    font-weight: 700;
}

.text-bottom-main {
    position: absolute;
    font-family: Helvetica, sans-serif, Helvetica;
    font-size: 16px;
    left: 100px;
    top: 190px
}

.bottom-main a {
    position: absolute;
    left: 100px;
    top: 265px;
    width: 120px;
    border: var(--red-default) solid 5px;
    background-color: var(--red-default);
    color: #FFFFFF;
}

.bottom-main a:hover {
    position: absolute;
    left: 100px;
    top: 265px;
    background-color: var(--red-default);
    color: #FFFFFF;
}

.bottom-main img {
    position: absolute;
    right: 200px;
}

.benefits-card img {
    position: absolute;
    height: 106px;
    left: 55px;
    margin-top: 12px;
    width: 90%
}

/* Footer start */

#bottom-itens {
    position: relative;
    height: 390px;
    width: 100%;
    margin-top: 240px;    
    padding-top: 50px;
    margin-left: 50px;
}

#all-cities{
    position:absolute; 
    right: 85px;
    color: var(--red-default);
    font-size: 16px;
    font-weight: 500;
}

#explore-cities {
    position: absolute;
    left: 45px;
    font-weight: 500;
    font-size: 20px;
}

.cities-box {
    position: relative;
    left: 10px;
    top: 25px;
    display: flex;
    align-content: flex-start;
    column-gap: 250px;
    padding-left: 6px;
}

.social-box {
    position: relative;
    left: 50px;
    top: 0px;
    display: flex;
    align-content: flex-start;
    column-gap: 230px;
    padding-left: 6px;
}

.cities-box li, .social-box li {
    color: #717171;
    margin-top: 40px;
    list-style: none;
}

.social-box {
    position: relative;
    display: flex;
}

.social-icons {
    color: #717171;
    margin-top: 50px;
}

.social-icon:hover {
    color: #3e3e3e;
    cursor: pointer;
}

.social-icon {
    margin-right: 25px; 
}

#copyright {
    position: relative;
    margin-top: 30px;
    display: flex;
    font-size: 13px;
    left: 70px
}

#copyright img {
    height: 48px;
    margin-right: 20px;
}

#copyright li {
    color: #717171;
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 600;
    font-size: 16px;
}

#copyright li:hover {
    color: #3e3e3e;
    cursor: pointer;
}

.testing-carousel {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: #8c60c5 solid;
    height: 500px;
    width: 75%;
}

/* Carousel 2 buttons */

#carouselproducts {
    position: relative;
    background-color: #8c60c5;
}

.slider-btn {
    width: 33px;
    height: 33px;
    border: 1px #717171 solid;
    border-radius: 50px;
}

#containerfotos {
    width: 75%
}

#btn-back {
    position: absolute;
    display: flex;
    top: 40%;
    left: 175px;
}

#btn-next {
    position: absolute;
    display: flex;
    top: 40%;
    right: 175px;
}

#carouselproducts .fa-solid {
    
}





